<a href="https://colab.research.google.com/github/NavyaSreebodd/Boddupalli-Navya-Sree-/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
print(type(x))

<class 'int'>

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.

In [ ]:
a=5
b=10
c=15
print(a+b+c)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).

In [ ]:
x='23'
print(type(x))

<class 'str'>

In [ ]:
x=10
print(type(x))

<class 'int'>

In [ ]:
x=12.3
print(type(x))

<class 'float'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=2
b=7
print(a+b)
print(a-b)
print(a/b)
print(a%b)
print(a*b)

9
-5
0.2857142857142857
2
14

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
string='123'
integer=int(string)
print("integer",integer)
float_num=float(string)
print("float",float_num)

integer 123
float 123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
input_string=input("Enter a string:")
if input_string:
  print("the first character is:", input_string[0])

Enter a string:navya
the first character is: n

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
a=input("Enter a string:")
if input_string:
  print(f"The length of a string {a} is: {len(input_string)}")

Enter a string:navya
The length of a string navya is: 5

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
a='r72tg9'

if (a.isalpha()):
  print(f"{a} contains only alphabets")
else:
  print(f"{a} does not contain only alphabets")

r72tg9 does not contain only alphabets

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
string1=input("Enter the first string")
string2=input("Enter the second string")
result=string1+string2
print(result)

Enter the first stringhello
Enter the second stringworld
helloworld

In [ ]:
#write a Python program to find the index of a substring "abc" in a string. (User input for the string)
def find_substring(string):
    return string.find("abc")

string = input("Enter a string: ")
index = find_substring(string)

if index != -1:
    print("The index of 'abc' in the string is:", index)
else:
    print("The substring 'abc' is not found in the string")

Enter a string: i have abc
The index of 'abc' in the string is: 7

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
def convert(input_string):

    uppercase_string = input_string.upper()
    lowercase_string = input_string.lower()
    print("uppercase:", uppercase_string)
    print("lowercase:", lowercase_string)

input_string = input("Enter a string: ")
convert(input_string)

Enter a string: navya
uppercase: NAVYA
lowercase: navya

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
string = input("Enter a string: ")
char_to_count = input("Enter the character to count: ")

occurrences = string.count(char_to_count)
print(f"The character '{char_to_count}' appears {occurrences} times in the string.")

Enter a string: hello world
Enter the character to count: hello world
The character 'hello world' appears 1 times in the string.

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name=input("Enter your name:")
print(f"Hello, {name}, Good morning")

Enter your name:navyasree
Hello, navyasree, Good morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
num1=float(input("Enter the first number"))
num2=float(input("Enter the second number"))
sum_of_numbers=num1+num2
print(f"the sum of{num1}and{num2}is:{sum_of_numbers}")

Enter the first number7
Enter the second number9
the sum of7.0and9.0is:16.0

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name=input("Enter your name:")
age=int(input("Enter your age"))
formatted_string=f"{name} is {age} years old."
print(formatted_string)

Enter your name:mouni
Enter your age20
mouni is 20 years old.

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
number=float(input("Enter a number"))
if number>0:
  print("The number is positive")
elif number<0:
  print("The number is negative")
else:
  print("The number is zero")

Enter a number15
The number is positive

In [ ]:
number=float(input("Enter a number"))
if number>0:
  print("The number is positive")
elif number<0:
  print("The number is negative")
else:
  print("The number is zero")

Enter a number0.00
The number is zero

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1=float(input("Enter the first number"))
num2=float(input("Enter the second number"))
num3=float(input("Enter the third number"))
if num1>=num2 and num1>num3:
  print("The maximum number is:",num1)
elif num2>=num1 and num2>num3:
  print("The maximum number is:",num2)
else:
  print("The maximum number is:",num3)
print("the maximum number is:",max(num1,num2,num3))

Enter the first number12
Enter the second number9
Enter the third number8
The maximum number is: 12.0
the maximum number is: 12.0

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year=int(input("Enter a year"))
if (year%4==0 and year%100!=0) or (year%400==0):
  print(f"{year} is a leap year")
else:
  print(f"{year} is not a leap year")

Enter a year2024
2024 is a leap year

In [ ]:
 #Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
number=int(input("Enter a number"))
if number%3==0 and number%5==0:
  print(f"{number}is divisible by both 3 and 5")
else:
  print(f"{number}is not divisible by both 3 and 5")

Enter a number15
15is divisible by both 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
def is_palindrome(text):
  text=text.lower()
  return text == text[::-1]
string=input("Enter a string:")
if is_palindrome(string):
  print(f"'{string}'is a palindrome.")
else:
  print(f"'{string}'is not a palindrome")

Enter a string:malayalam
'malayalam'is a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
number=2
while number <=20:
  print(number)
  number +=2

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
number=int(input("Enter a number"))
for i in range(1,11):
  print(f"{number}*{i}={number*i}")

Enter a number23
23*1=23
23*2=46
23*3=69
23*4=92
23*5=115
23*6=138
23*7=161
23*8=184
23*9=207
23*10=230

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a positive integer (n): "))
sum_of_numbers = 0
current_number = 1
while current_number <= n:
    sum_of_numbers += current_number
    current_number += 1
print("The sum of numbers from 1 to", n, "is:", sum_of_numbers)

Enter a positive integer (n): 34
The sum of numbers from 1 to 34 is: 595

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
number = int(input("Enter a non-negative integer: "))
factorial = 1
current_number = 1
while current_number <= number:
    factorial *= current_number
    current_number += 1
print(f"The factorial of {number} is: {factorial}")

Enter a non-negative integer: 54
The factorial of 54 is: 230843697339241380472092742683027581083278564571807941132288000000000000

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input("Enter the number of terms in the Fibonacci sequence: "))
fibonacci_sequence = [0, 1]
while len(fibonacci_sequence) < n:
    next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
    fibonacci_sequence.append(next_number)
    print("The Fibonacci sequence up to", n, "terms is:", fibonacci_sequence)

Enter the number of terms in the Fibonacci sequence: 5
The Fibonacci sequence up to 5 terms is: [0, 1, 1]
The Fibonacci sequence up to 5 terms is: [0, 1, 1, 2]
The Fibonacci sequence up to 5 terms is: [0, 1, 1, 2, 3]

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
for number in range(2,101):
  is_prime=True
  for i in range(2,int(number**0.5)+1):
    if number%i==0:
      is_prime=False
      break
  if is_prime:
    print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).

In [ ]:
numbers = [10, 25, 40, 55, 70, 85]

for number in numbers:
    if number > 50:
        print(f"Found a number greater than 50: {number}")
        break  # Exit the loop when the condition is met
    else:
        print(f"Current number: {number}")

Current number: 10
Current number: 25
Current number: 40
Found a number greater than 50: 55

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for number in range(1,21):
  if number%2==0:
    continue
  print(number)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
string = input("Enter a string: ")
char_to_count = input("Enter the character to count: ")
count = 0
for char in string:
    if char == char_to_count:
        count += 1
print(f"The character '{char_to_count}' appears {count} times in the string.")

Enter a string: navya
Enter the character to count: a
The character 'a' appears 2 times in the string.

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
number = int(input("Enter a number: "))
sum_of_digits = 0
while number > 0:
    digit = number % 10
    sum_of_digits += digit
    number //= 10
print("The sum of digits is:", sum_of_digits)

Enter a number: 23
The sum of digits is: 5

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.

In [ ]:
# Create a list of integers
my_list = [1, 2, 3, 4, 5]

# Calculate the sum of the elements
list_sum = sum(my_list)

# Print the sum
print("The sum of elements in the list is:", list_sum)

The sum of elements in the list is: 15

In [ ]:
# Write a Python program to find the largest element in a list.
my_list = [3, 7, 24, 5, 12]
largest_element = max(my_list)
print("The largest element in a list",largest_element)

The largest element in a list 24

In [ ]:
# Write a Python program to reverse a list.
my_list = [7, 5, 2, 8, 9]
reversed_list = my_list[::-1]
print("Reversed_list:",reversed_list)

Reversed_list: [9, 8, 2, 5, 7]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
my_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
my_list = [x for x in my_list if x!=element_to_remove]
print("List after removing all occurences of a specific element from a list",element_to_remove,":",my_list)

List after removing all occurences of a specific element from a list 2 : [1, 3, 4, 5]

In [ ]:
# Write a Python program to find the index of an element in a list.
my_list = [1, 2, 3, 4, 5]
element_to_find = 4
index = my_list.index(element_to_find)
print("Index of",element_to_find,":",index)

Index of 4 : 3

In [ ]:
# Write a Python program to find if a specific element exists in a list.

In [ ]:
def element_exists_any(my_list, element):
  """Checks if an element exists in a list using any().

  Args:
    my_list: The list to search in.
    element: The element to search for.

  Returns:
    True if the element exists in the list, False otherwise.
  """
  return any(x == element for x in my_list)


# Example usage
my_list = [1, 2, 3, 4, 5]
element_to_find = 3

if element_exists_any(my_list, element_to_find):
  print(f"{element_to_find} exists in the list")
else:
  print(f"{element_to_find} does not exist in the list")

3 exists in the list

In [ ]:
# Write a Python program to remove duplicates from a list.
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print("List with duplicates removed:",unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
my_list = [1, 2, 3, 4, 2, 5, 2]
element_to_count = 2
count = my_list.count(element_to_count)
print("Occurrences of",element_to_count,":",count)

Occurrences of 2 : 3

In [ ]:
# Write a Python program to get the number of even numbers in a list.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_count = sum(1 for x in my_list if x % 2 == 0)
print("Number of even numbers:",even_count)

Number of even numbers: 4

In [ ]:
# Write a Python program to create a tuple and print it.
my_tuple = (1, 2, 3, 4, 5)
print("Tuple:",my_tuple)

Tuple: (1, 2, 3, 4, 5)

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple=(1, 2, 3, 4, 5)
my_list=list(my_tuple)
print("Tuple:",my_tuple)
print("List:",my_list)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.
my_tuple = (11, 2, 3, 12, 6)
max_value = (max(my_tuple))
min_value = (min(my_tuple))
print("Maximum value:",max_value)
print("Minimum value:",min_value)

Maximum value: 12
Minimum value: 2

In [ ]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print("a:",a)
print("b:",b)
print("c:",c)

a: 1
b: 2
c: 3

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
element_to_check = 3
if element_to_check in my_set:
  print(f"{element_to_check} exists in the set")
else:
  print(f"{element_to_check} does not exist in the set")

3 exists in the set

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {'a': 1, 'b': 2, 'c': 3}
print("Dictionary:",my_dict)

Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Write a Python program to access a dictionary value using a key.
my_dict = {'apple': 1, 'banana': 2, 'cashew': 3}
key_to_access = 'cashew'
value = my_dict[key_to_access]
print(f"The value for key '{key_to_access}' is:{value}")

The value for key 'cashew' is:3

In [ ]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {'apple': 1, 'banana': 2, 'cashew': 3}
key_to_check = 'banana'
if key_to_check in my_dict:
  print(f"{key_to_check} exists in the dictionary")

banana exists in the dictionary

In [ ]:
# Write a Python program to merge two dictionaries.
dict1 = {'apple': 1, 'banana': 2}
dict2 = {'cashew': 3, 'date': 4}
merged_dict = {**dict1, **dict2}
print("merged dictionary",merged_dict)

merged dictionary {'apple': 1, 'banana': 2, 'cashew': 3, 'date': 4}

In [ ]:
# Write a Python program to remove a key from a dictionary.
my_dict = {'apple': 1, 'banana': 2, 'cashew': 3}
key_to_remove = 'banana'
if key_to_remove in my_dict:
  del my_dict[key_to_remove]
  print(f"{key_to_remove} has been removed from the dictionary")
else:
  print(f"{key_to_remove} does not exist in the dictionary")
  print("Updated dictionary:",my_dict)

banana has been removed from the dictionary

In [ ]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {'apple': 1, 'banana': 2, 'cashew': 3}
num_keys = len(my_dict)
print("Number of keys:",num_keys)

Number of keys: 3

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.
my_dict = {'a':2, 'b':10, 'c':5, 'd':7}
largest_value = max(my_dict.values())
smallest_value = min(my_dict.values())
print("Largest value:", largest_value)
print("Smallest value", smallest_value)

Largest value: 10
Smallest value 2

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.
def square(number):
  return pow(number, 2)

# Get input from the user and calculate the square
number = float(input("Enter a number:")) # Moved outside the function
result = square(number) # Moved outside the function

print("The square of", number, "is:", result)

Enter a number:12
The square of 12.0 is: 144.0

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.
def calculate_sum(num1, num2):
  return num1 + num2
number1 = 12
number2 = 4
result = calculate_sum(number1, number2)
print("The sum of", number1, "and", number2, "is:", result)

The sum of 12 and 4 is: 16

In [ ]:
# Write a Python function to check if a given number is prime.
def is_prime(number):

  if number <= 1:
    return False
  for i in range(2, int(number**0.5) + 1):
    if number % i == 0:
      return False
  return True
number_to_check = 17
if is_prime(number_to_check):
  print(f"{number_to_check} is a prime number.")
else:
  print(f"{number_to_check} is not a prime number.")

17 is a prime number.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)
number = 5
result = factorial(number)
print(f"The factorial of {number} is: {result}")

The factorial of 5 is: 120

In [ ]:
# Write a Python function to calculate the power of a number using recursion.
def power(base, exponent):
  if exponent == 0:
    return 1
  else:
    return base * power(base, exponent - 1)

base = 2
exponent = 3
result = power(base, exponent)
print(f"{base} raised to the power of {exponent} is: {result}")

2 raised to the power of 3 is: 8

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def list_length(input_list):
  count = 0
  for _ in input_list:
    count += 1
  return count

my_list = [1, 2, 3, 4, 5]
length = list_length(my_list)
print("The length of the list is:", length)

The length of the list is: 5

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum_positional_args(*args, **kwargs):
  positional_sum = sum(args)
  print("Sum of positional arguments:", positional_sum)
sum_positional_args(1, 2, 3, a=4, b=5)
sum_positional_args(10, 20, name="Alice", age=30)

Sum of positional arguments: 6
Sum of positional arguments: 30

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def find_max(num1, num2):
  return max(num1, num2)
result = find_max(num2=10, num1=5)
print("The maximum number is:", result)

The maximum number is: 10

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.
def calculate_product(numbers):
  product = 1
  for num in numbers:
    product *= num
  return product
number_list = [2, 3, 4, 5]
result = calculate_product(number_list)
print("The product of the numbers is:", result)

The product of the numbers is: 120

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def check_even_odd(number):
  if number % 2 == 0:
    return "even"
  else:
    return "odd"
number_to_check = 7
result = check_even_odd(number_to_check)
print("The number is even or odd using the modulo operator is:", result)

The number is even or odd using the modulo operator is: odd

In [1]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
squares = [i**2 for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
numbers = [1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10]
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [3]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words = ["apple", "banana", "cherry", "date", "elderberry"]
long_words = [word for word in words if len(word) > 4]
print(long_words)

['apple', 'banana', 'cherry', 'elderberry']

In [4]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
string = "navya"
uppercase_letters = [char.upper() for char in string]
print(uppercase_letters)

['N', 'A', 'V', 'Y', 'A']

In [5]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def generate_fibonacci(n):
  fibonacci_numbers = [0, 1]
  [fibonacci_numbers.append(fibonacci_numbers[-1] + fibonacci_numbers[-2]) for _ in range(2, n)]
  return fibonacci_numbers
n = 10
result = generate_fibonacci(n)
print(result)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [6]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
numbers = range(1, 6)
squares_dict = {num: num**2 for num in numbers}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [7]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ['a', 'b', 'c']
values = [1, 2, 3]
my_dict = {key: value for key, value in zip(keys, values)}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [9]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
numbers = range(1, 6)
cubes_dict = {num: num**3 for num in numbers}
print(cubes_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [10]:
# Write a Python program to square each element of a list using the map() function.
def square(x):
  return x ** 2
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(square, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [11]:
# Write a Python program to filter all even numbers from a list using the filter() function.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [12]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
is_divisible_by_3_and_5 = lambda x: x % 3 == 0 and x % 5 == 0
number = 15
result = is_divisible_by_3_and_5(number)
print(result)

True

In [13]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
numbers = [1, 2, 3, 4, 5]
multiplied_numbers = list(map(lambda x:x * 2, numbers))
print(multiplied_numbers)

[2, 4, 6, 8, 10]

In [14]:
# Write a Python program to remove all occurrences of a specific element from a list.
my_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
my_list = [x for x in my_list if x != element_to_remove]
print(my_list)

[1, 3, 4, 5]

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`